body {
    padding-bottom: 70px;
}

.content {
    margin:10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.thumbnail {
    position: relative;
    overflow: hidden;
}

.caption {
    position: absolute;
    top:0;
    right:0;
    background:rgba(66,139,202,0.30);
    width: 100%;
    height: 100%;
    padding: 2%;
    display: none;
    text-align: center;
    color:#FFF !important;
    z-index: 2;
}

.file-label {
    color: #000
}
