{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.Page.Title}}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cyborg/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/base.js"></script>
  </head>
  <body>
    {{template "body" . }}
  </body>
</html>
{{end}}
