{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.Page.Title}}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" type="text/css"/>
    <script src="/static/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {padding-bottom: 70px;}
      .content {margin:10px;}
    </style>
  </head>
  <body>
    {{template "body" . }}
  </body>
</html>
{{end}}
