{{define "body"}}
<h1>Images</h1>
<table border="1">
<tr>
  <th>ID</th>
  <th>Description</th>
</tr>
  {{ range $index, $element := .Images}}
  <tr>
    <td>
      {{$element.ID.Value}}
    </td>
    <td>
      {{$element.Description.Value}}
    </td>
  </tr>
  {{end}}
</table>
<form action="/images" method="POST">
  <input name="description" type="text"/>
  <input type="submit"/>
</form>
{{end}}
