{{define "body"}}
<div class="container-fluid">
  <div class="row">
  {{ range $index, $element := .Images}}
  {{ if isEndOfRow $index }}
  </div>
  <div class="row">
  {{end}}
    <div class="col-xs-6 col-md-3">
      <a href="images/{{$element.ID.Value}}">
        <div class="thumbnail">
          <div class="caption">
            <h4>{{$element.Description.Value}}</h4>
          </div>
          <img src="data:image/jpg;base64,{{$element.Data}}"/>
        </div>
      </a>
    </div>
  {{end}}
  </div>
</div>
</div>
{{end}}
