{{define "body"}}
<h1> My Body Is Ready </h1>
<table>
  <tr>
    <td>Test Data 1</td>
    <td>Test Data 2</td>
    <td>Test Data 3</td>
    <td>Test Data 4</td>
    <td>Test Data 5</td>
  </tr>
  <tr>
    <td>Test Data 6</td>
    <td>Test Data 7</td>
    <td>Test Data 8</td>
    <td>Test Data 9</td>
    <td>Test Data 10</td>
  </tr>
</table>
{{end}}
